<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
    </div>
  </aside>
    <ul class="media-list">
  <% @user.favorite_microposts.each do |user_favorite| %>
    <li class="media">
      <div class="media-body">
        <div>
          <p><%= user_favorite %></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>
</div>