<div class="row">
  <aside class="col-xs-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= @user.name %></h3>
      </div>
    </div>
  </aside>
    <ul class="media-list">
  <% @user.favorite_microposts.each do |user_favorite| %>
    <li>
      <div class="media-body">
        <div>
          <%= user_favorite.id %>
          <%= user_favorite.content %>
        </div>
      </div>
    </li>  
  <% end %>
</ul>
</div>